.cards {
    width: 250px;
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: #fff;
    transition: box-shadow 0.3s ease;
}

.cards:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.image_box img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
}

.details {
    margin-top: 10px;
}

.details p:nth-child(1) {
    font-weight: bold;
}

.details p:nth-child(2) {
    color: grey;
    font-size: 0.8rem;
}

.details p:nth-child(3) {
    font-weight: bold;
    color: grey;
}

.details button {
    padding: 5px 10px;
    border: none;
    font-weight: bold;
    background-color: skyblue;
    outline: none;
    border-radius: 2px;
}

.rupee {
    text-decoration: line-through;
}
